<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->
    <!--for each job in jobs, display job-->
    <p th:if="${jobs}" th:text="${#lists.size(jobs)} + ' Results'"></p>

    <p th:each="job, idx : ${jobs}" th:class="${idx.odd} ? 'odd'">
        <table class="job-listing">
            <p th:each="item : ${job}">
                <tr>
                <td th:text="${#strings.capitalizeWords(item.key)}"></td>
                <td th:text="${item.value}"></td>
                </tr>

            </p>
        </table>
        <!--<td th:text="${job.employer} + ' ' + ${job.location}">
        </td>-->
    </p>


</div>

</body>
</html>